mat-drawer-container {
    height: 100%;
    max-width: 40%;
    min-width: 600px;
    background-color: rgba(255,255,100, $alpha: 0);
}

#spinner{
  height: max-content;
  width: max-content;
}
.col-6{
  padding: 0 0 0 0;
}

.container-fluid{
  padding-left: 5px;
  padding-right: 0px;
}
.outer{
  height: 95%;
  position: relative;
}


#closeBtn {
    position: absolute;
    right: 0px;
}

#openBtn {
    position: absolute;
    top: 0px;
    left: 0px;
}
h3{
  left: 5px;
  text-align: left;
}

mat-slider {
    top: 2%;
    left: 4%;
    right: 4%;
    width: 100%;
    position: sticky;
}

.pie-chart-container {
  height: 600px;
  min-width: 600px;
}

.pie-label{
  font-size: 14;
}
