mat-drawer-container {
    height: 100%;
    max-width: 500px;
    overflow-x: hidden !important;
    background-color: rgba(255,255,100, $alpha: 0);
}

ngx-charts-pie-grid {
    left: 2%;
    height: 1000 px;
}


#closeBtn {
    position: absolute;
    right: 0px;
}

#openBtn {
    position: absolute;
    top: 0px;
    left: 0px;
}

mat-slider {
    bottom: 2%;
    left: 4%;
    right: 4%;
    width: 100%;
}

