
    <mat-drawer-container [hidden]='!drawer.opened' autosize>

      <mat-sidenav #drawer class="container-fluid" mode="side" opened='true'>
        <button class="" mat-button id='closeBtn' (click)="drawer.toggle()">
            <span>&times;</span>
        </button>
        <app-searchbar class=""></app-searchbar>
        <button mat-button (click) ='changeView()'>
          change view
        </button>

        <div class="container" *ngIf="viewValue">
          <ngx-charts-pie-chart class
            [view]="view"
            [scheme]="colorScheme"
            [results]="single"
            labels='true'
            doughnut='true'
            legend='true'
            legendTitle='countries'
            (select)='selected($event)'
            >

          </ngx-charts-pie-chart>
        </div>

        <div class="container" *ngIf="!viewValue">
          <ngx-charts-bar-vertical class
            [view]="view"
            [scheme]="colorScheme"
            [results]="single"
            legend='true'
            legendTitle='countries'
            xAxis='true'
            yAxies='false'
            showXAxisLabel='true'
            showYAxisLabel='true'
            (select)='selected($event)'>

          </ngx-charts-bar-vertical>
        </div>




        <div class="container">
          <div><h3>{{byDate[sliderIndex][0].date}}</h3></div>

          <mat-slider
            #matslider
            [displayWith]="formatLabel"
            min="0"
            max="51"
            [value] = "matslider"
            (input)='changeDate($event)'
            >
          </mat-slider>
        </div>

    </mat-sidenav>

  </mat-drawer-container>

  <div id="openBtn">
      <button type="button" mat-raised-button (click)="drawer.toggle()">
      Open Sidebar
      </button>
  </div>


