
    <mat-drawer-container style="overflow-x: hidden;" class="example-sidenav-container" [hidden]='!drawer.opened' autosize>

      <mat-sidenav #drawer class="container-fluid" mode="side" opened='true'>
        <button class="" mat-button id='closeBtn' (click)="drawer.toggle()">
            <span>&times;</span>
        </button>
        <app-searchbar class=""></app-searchbar>

        <div class="row outer">

        <div class="col-6 inner">
          <ngx-charts-pie-grid class
            [view]="view"
            [scheme]="colorScheme"
            [results]="single"
            (select)="onSelect($event)">
        </ngx-charts-pie-grid>

        <mat-slider
            thumbLabel
            [displayWith]="formatLabel"
            tickInterval="1000"
            min="1"
            max="100000">
        </mat-slider>
        <button (click)='getData()'>
            Get Data
        </button>

        </div>
        <div class="col-6"></div>
      </div>

    </mat-sidenav>

  </mat-drawer-container>

  <div id="openBtn">
      <button type="button" mat-button (click)="drawer.toggle()">
      Open Sidebar
      </button>
  </div>


