mat-drawer-container {
    height: 100%;
    max-width: 500px;
    overflow-x: hidden !important;
    background-color: rgba(255,255,100, $alpha: 0);
}
mat-drawer-inner-container{
  overflow: hidden;
}
ngx-charts-pie-grid {
    left: 2%;
    width: 240 px;
    height: 1000 px;
}
.inner{
  overflow-y: auto;
  overflow-x: hidden;
}
.outer{
  height: 95%;
  position: relative;
}


#closeBtn {
    position: absolute;
    right: 0px;
}

#openBtn {
    position: absolute;
    top: 0px;
    left: 0px;
}

mat-slider {
    top: 2%;
    left: 4%;
    right: 4%;
    width: 100%;
    position: sticky;
}


