
    <mat-drawer-container class="example-sidenav-container" [hidden]='!drawer.opened' autosize>

      <mat-sidenav #drawer class="container-fluid" mode="side" opened='true'>
        <button class="" mat-button id='closeBtn' (click)="drawer.toggle()">
            <span>&times;</span>
        </button>
        <app-searchbar class=""></app-searchbar>

        <div class="row outer">

        <div class="col-6 inner">
          <ngx-charts-pie-grid class
            [view]="view"
            [scheme]="colorScheme"
            [results]="single">
        </ngx-charts-pie-grid>


        <mat-slider
          #matslider
          [displayWith]="formatLabel"
          min="0"
          max="51"
          [value] = "matslider"
          (input)='changeDate($event)'
          >
        </mat-slider>
        <span >{{sliderIndex}}</span>

        </div>
        <div class="col-6">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur rerum vel ipsam a corrupti perferendis, perspiciatis recusandae obcaecati cumque iusto doloremque voluptatum architecto exercitationem eveniet commodi rem provident animi at!</p>
        </div>
      </div>

    </mat-sidenav>

  </mat-drawer-container>

  <div id="openBtn">
      <button type="button" mat-raised-button (click)="drawer.toggle()">
      Open Sidebar
      </button>
  </div>


